.container_registro{
    background-image: url('../../assets/Inicio_Fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color: white;
    height: 100vh;

    & .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;

        & .container_register{
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: max-content;
            margin: 0 auto;

            & .title {
                color: #0e67ab;
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            & .inputs {
                display: flex;
                flex-direction: column;
                outline: none;

                & .error_message {
                    color: red;
                    font-size: 10px;
                    margin-bottom: 11px;
                    margin-left: 10px;
                }

                & .inputs_registro{
                    background-color: #f2f2f2;
                    border-radius: 5px;
                    border-color: #88afcc;
                    border: 2px solid #88afcc; /* Aplica un borde sólido de 2px de ancho con color gris claro */
                    outline: #88afcc;
                    margin-bottom: 15px;
                    width: 280px;
                    height: 30px;
                
                    & :focus {
                        border: 3px solid; 
                        border-color: rgba(0, 117, 204, 1);
                        background-color: white; 
                        transition: border 0.4s ease;
                        transition: borer-color 0.4s ease;
                        transition: background-color 0.4s ease;
                    }
                
                    & ::-webkit-input-placeholder {
                        color: #88afcc;
                        padding-left: 10px;
                    }
                    
                    & :-ms-input-placeholder {  
                        color: #88afcc;
                        padding-left: 10px;
                    }
                }
            }

            & .container_button{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-end;
                max-width: max-content;
                margin: 3% 75%;

                & .btn_register {
                    background-color: #0667ae;
                    color: white;
                    padding: 9px;
                    border: transparent;
                    border-radius: 4px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .container_registro {
        background-image: url('../../assets/Inicio_Fondo_Mobile.png');

        & .wrapper {
            height: 60%;
        }
    }
}