.headerLogo {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.75rem 1.25rem;
    height: auto;

    & .img_logo_lit{
        width: 5%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .headerLogo {
        align-items: center;
        justify-content: center;
        & a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            & .img_logo_lit{
                width: 10%;
                height: auto;
            }
        }
    }
  }