.login {
  background-color: white;
  width: 100vw;
  height: 100vh;

  & .bg_special {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/Inicio_Fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    & .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      & h2 {
          color: #2f7ab3;;
          font-size: 3rem;
          font-weight: bold;
      }
  
      & .button_container {
        display: flex;
        flex-direction: row;
  
        & .transparent_button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          color: #2f7ab3;
          padding-left: 2rem;
          padding-right: 2rem;
          font-size: 1.5rem;
        }
        & .transparent_button:hover {
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .login {
  
    & .bg_special {
      background-image: url('../../assets/Ingreso_Fondo_Mobile.png');
    }
  }
}